<div style="display: flex; justify-content: center; align-items: center; width: 100vw;">
  <div class="card-container" style="display: flex; flex-wrap: wrap; justify-content: space-around;"></div>
  <% jobs.forEach(job => { %>
      <div class="card m-5 row" style="width: 20rem; background-color: transparent; border: 2px white solid; display:inline-block;">
          <div class="card-body">
              <div class="active-hiring-css p-2 mb-3">Actively Hiring<i class="fa-solid fa-arrow-trend-up" style="color: rgb(9, 179, 9);"></i></div>
              <div class="company-name"><%= job.company_name %></div>
              <div class="job-category"><%= job.job_category %></div>
              <div class="role"> <%= job.role %></div>
              <div class="location"><i class="fa-solid fa-location-dot"></i></i><%= job.location %></div>
              <div class="package"> &#8377;<%= job.pack %></div>
              <div class="tech-stacks"></div>
              <% job.skills.forEach(skill => { %>
                  <button type="button" class="btn btn-outline-info ml-1 mb-1 "><%= skill %></button>
              <% }) %>
              <a href="/jobs/<%= job.job_id %>" class="card-link"><button class=" view-details-btn">View Details</button></a>
          </div>
      </div>
  <% }) %>
</div>
<div style="display: flex; justify-content: center; align-items: center; width: 100vw; margin-top: 10%;">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center ">
      <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
  
</div>
</div>
